td,th{
    text-align:center;
    padding:10px;
    border-radius:20px;
    margin:5px;
    border-width:5px;
    font-weight:bold;
    background-color:rgb(177, 177, 177);
}
body{
    font-family:'Varela Round';
    background-color:rgb(173, 173, 173);
}
table{
    text-align:center;
    padding:10px;
    border-radius:30px;
    border-width:10px;
    background-color:lightgrey;
    box-shadow: 5px 10px 50px black;
}
h1{
    font-size:40px;
}